<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>pagesize</param-name>
        <param-value>3</param-value>
    </context-param>
    <servlet>
        <servlet-name>DEMOcontroller</servlet-name>
        <servlet-class>controller.DEMOcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>controller.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>controller.ViewattendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAccountController</servlet-name>
        <servlet-class>controller.listAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.ViewattendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcountController</servlet-name>
        <servlet-class>controller.AcountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>controller.demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchController</servlet-name>
        <servlet-class>controller.AdminSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin1Controller</servlet-name>
        <servlet-class>controller.Admin1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListClass</servlet-name>
        <servlet-class>AdminListController.AdminListClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInsertStudent</servlet-name>
        <servlet-class>AdminInsertController.AdminInsertStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListStudent</servlet-name>
        <servlet-class>AdminListController.AdminListStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminmenu</servlet-name>
        <servlet-class>controller.Adminmenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelectController</servlet-name>
        <servlet-class>AdminEditDelectController.AdminDelectStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkReportController</servlet-name>
        <servlet-class>controller.MarkReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewmarkController</servlet-name>
        <servlet-class>controller.ViewmarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInserMark</servlet-name>
        <servlet-class>controller.AdminInserMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMarkIot102Controller</servlet-name>
        <servlet-class>AdminListController.AdminListMarkIot102Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListMarkController</servlet-name>
        <servlet-class>AdminListController.AdminListMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListInsertMarkController</servlet-name>
        <servlet-class>AdminListController.AdminListInsertMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInsertMarkIot102</servlet-name>
        <servlet-class>AdminInsertController.AdminInsertMarkIot102</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditStudentController</servlet-name>
        <servlet-class>AdminEditDelectController.AdminEditStudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DEMOcontroller</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/ViewattendanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAccountController</servlet-name>
        <url-pattern>/listAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcountController</servlet-name>
        <url-pattern>/Acount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/listmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchController</servlet-name>
        <url-pattern>/AdminSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin1Controller</servlet-name>
        <url-pattern>/Admin1Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListClass</servlet-name>
        <url-pattern>/AdminListClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInsertStudent</servlet-name>
        <url-pattern>/AdminInsertStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListStudent</servlet-name>
        <url-pattern>/AdminListStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminmenu</servlet-name>
        <url-pattern>/Adminmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelectController</servlet-name>
        <url-pattern>/DelectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkReportController</servlet-name>
        <url-pattern>/MarkReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewmarkController</servlet-name>
        <url-pattern>/Viewmark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInserMark</servlet-name>
        <url-pattern>/AdminInserMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMarkIot102Controller</servlet-name>
        <url-pattern>/AdminMarkIot102</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListMarkController</servlet-name>
        <url-pattern>/AdminListMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListInsertMarkController</servlet-name>
        <url-pattern>/AdminListInsertMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInsertMarkIot102</servlet-name>
        <url-pattern>/AdminInsertMarkIot102</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditStudentController</servlet-name>
        <url-pattern>/AdminEditStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
